
/* Made for the Chrome browser 
extends indicator for date-picker all over the input field
so when clicking the label for the input field it will open
picker automatically */
input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}